*{
    margin: 0;
    padding:0;
}
body{
    overflow-x: hidden;
    background-color: rgb(34, 34, 34);
}
#divTela{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    animation: tela ease-out 2s;
}
#tela{
    border-radius: 5px;
    background-color: black;
    width:80vw;
}
#jogar{
    position: absolute;
    background-color: red;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border:solid white 1px;
    border-radius:100px;
    transition: 200ms ease-in-out;
    cursor:pointer;
}
#jogar:hover{
    opacity: 0.7;
    transform:scale(0.95)
}

@keyframes tela {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}